/* Write your CSS here */
.description {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.not-title {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}

.not-image {
  width: 450px;
  height: 450px;
}

.dark {
  color: #ffffff;
}

.light {
  color: #000000;
}
